# Project Zomboid Mods

# Compiled Java class files
*.class

# Compiled Lua files
*.luac

# Build output directories
/bin/
/build/

# IDE-specific files
.idea/
.vscode/

# Dependency directories
/libs/
/node_modules/

# Log files
*.log

# Temporary files
*.tmp

# Ignore all files in the root directory except the .gitignore file
/*
!.gitignore
ModTemplate

.env**

*.env.local**